/* navogation bar */

nav {
    background: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
}

.nav-items {
    display: flex;
    list-style-type: none;
}

.nav-items li {
    margin-right: 3rem;
}